* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: #dadada;
}

a {
  text-decoration: none;
}

header {
  background-color: #131921;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}
header .banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

header .logo {
  width: 100px;
}

header .delivery {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

header .delivery > img {
  width: 20px;
}

header .delivery > p {
  color: #fff;
}

header .delivery p > #uk {
  font-weight: 900;
  font-size: 1rem;
}

.search {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 55%;
  border: 4px;
}

.search .search_product {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  background-color: #e5e5e5;
  padding: 10px 20px;
  border-radius: 4px 0 0 4px;
}

.search_product > img {
  width: 13px;
}

.search > input {
  width: 100%;
  padding: 9px 20px;
  border: 0;
  outline: 0;
}

.search > input::placeholder {
  font-size: 13px;
}

.search > img {
  width: 41px;
  background: #ffd64f;
  padding: 10px;
  border-radius: 0 4px 4px 0;
}

.other_cta {
  display: flex;
  align-items: center;
  gap: 10px;
}

.other_cta .lang_select {
  display: flex;
  align-items: center;
}

.lang_select > img {
  width: 20px;
}

.lang_select > select {
  background: transparent;
  color: #fff;
  border: 0;
  outline: 0;
  font-weight: 600;
}

.other_cta .account a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 2px;
  text-align: left;
  font-size: 13px;
  padding-left: 4px;
}

.other_cta .account > select {
  background: transparent;
  color: #fff;
  border: 0;
  outline: 0;
  font-weight: 600;
}

.orders {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.orders > #returns {
  font-size: 13px;
}

.orders #_orders {
  font-size: 17px;
  font-weight: 700;
}

.cart {
  display: flex;
  align-items: center;
  gap: 6px;
}

.cart img {
  width: 30px;
}

.cart span {
  color: #fff;
  font-weight: 700;
}

/* menu */
.trade {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 20px;
  background: #232f3e;
}

.trade .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.trade .menu a {
  color: #fff;
}

.trade .menu > img {
  width: 20px;
  cursor: pointer;
}

.trade ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.trade ul li {
  list-style: none;
}

.trade ul li a {
  color: #fff;
}

/* image slider */
.hero_slider div {
  display: flex;
  overflow-y: hidden;
}

.hero_slider div img {
  width: 100%;
  mask-image: linear-gradient(to bottom, #000 50%, transparent 100%);
}

#prev_btn,
#next_btn {
  width: 50px;
  z-index: 1;
  position: absolute;
  top: 20%;
  background: #ffffff4f;
  padding: 40px 10px;
  cursor: pointer;
}

#next_btn {
  right: 0;
}

/* inventory  */
.inventory {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 10px 20px;
}

.inventory_box {
  margin-top: -20vw;
}

.inventory .invenoty_details {
  background: #fff;
  padding: 20px;
  z-index: 1;
}

.invenoty_details > img {
  width: 100%;
  margin: 10px 0;
}

.invenoty_details a {
  text-decoration: none;
  color: #009999;
}

/* best sellers  --- products iamges*/
.product_best_sellers {
  padding: 10px 20px;
}

.best_sellers {
  background: #fff;
  padding: 20px 15px;
}
.best_sellers > div {
  display: flex;
  overflow-x: auto;
}

.best_sellers > div::-webkit-scrollbar {
  display: none;
}

.best_sellers div a > img {
  max-width: 200px;
  max-height: 200px;
  margin-top: 10px;
}

/* second inventory */
.inventory_two {
  margin-top: 0;
}

/* discount sales */
.product_best_sellers_two {
  padding: 10px 20px;
}

.best_sellers_two {
  background: #fff;
  padding: 20px 15px;
}
.best_sellers_two > div {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.best_sellers_two > div::-webkit-scrollbar {
  display: none;
}

.discount_deals {
  background: #fbfbfb;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-top: 10px;
  cursor: pointer;
  min-width: 210px;
}

.discount_deals .discount_details_image > img {
  max-width: 110px;
  max-height: 110px;
  margin: 0 auto;
  display: block;
}

#off {
  background: #be0b3b;
  color: #fff;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 13px;
}

.discount_deals #deal {
  color: #be0b3b;
  margin: 5px 0 10px 0;
  font-size: 13px;
}

.discount_deals #price {
  color: gray;
  font-size: 13px;
}

.discount_deals #price_value {
  font-size: 1rem;
  font-weight: 600;
}

.discount_deals #product_remark {
  color: #525252;
  font-weight: 600;
  font-size: 14px;
}


/* footer */
footer {
  background: #131921;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
footer .logo {
  width: 100px;
}
