* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: #dadada;
}

a {
  text-decoration: none;
  
}

header {
  background-color: #131921;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}
header .banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

header #logo {
  width: 100px;
}

header .delivery {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

header .delivery > img {
  width: 20px;
}

header .delivery > p {
  color: #fff;
}

header .delivery p > #uk {
  font-weight: 900;
  font-size: 1rem;
}

.search {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 55%;
  border: 4px;
}

.search .search_product {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  background-color: #e5e5e5;
  padding: 10px 20px;
  border-radius: 4px 0 0 4px;
}

.search_product > img {
  width: 13px;
}

.search > input {
  width: 100%;
  padding: 9px 20px;
  border: 0;
  outline: 0;
}

.search > input::placeholder {
  font-size: 13px;
}

.search > img {
  width: 41px;
  background: #ffd64f;
  padding: 10px;
  border-radius: 0 4px 4px 0;
}

.other_cta {
  display: flex;
  align-items: center;
  gap: 10px;
}

.other_cta .lang_select {
  display: flex;
  align-items: center;
}

.lang_select > img {
  width: 20px;
}

.lang_select > select {
  background: transparent;
  color: #fff;
  border: 0;
  outline: 0;
  font-weight: 600;
  /* appearance: none;
  background-image: url(../images/dropdown_icon.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-y: 14px;
  background-position-x: calc(100% - 14px); */
}

.other_cta .account a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 2px;
  text-align: left;
  font-size: 13px;
  padding-left: 4px;
}

.other_cta .account > select {
  background: transparent;
  color: #fff;
  border: 0;
  outline: 0;
  font-weight: 600;
}

.orders {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.orders > #returns {
  font-size: 13px;
}

.orders #_orders {
  font-size: 17px;
  font-weight: 700;
}

.cart {
  display: flex;
  align-items: center;
  gap: 6px;
}

.cart img {
  width: 30px;
}

.cart span {
  color: #fff;
  font-weight: 700;
}
