main {
  background-color: #fff;
}

.quick_link {
  padding: 10px 20px;
}

.quick_link a {
  color: gray;
  font-weight: 600;
}

.full_product_display {
  display: flex;
  padding: 10px 20px;
  gap: 10px;
}

.full_product_display .product_image {
  flex-basis: 30%;
  display: flex;
  gap: 10px;
}

.product_image .crop_images > img {
  width: 60px;
  border: 1px solid gray;
  margin-bottom: 10px;
  display: block;
  border-radius: 10px;
}

.product_image > img {
  width: 400px;
  height: 400px;
}

.full_product_display .product_category_details {
  flex-basis: 50%;
}

.product_category_details #product_desc {
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.product_category_details > a {
  color: #009999;
  margin-top: 5px;
  display: inline-block;
}

.product_category_details #rating_desc {
  display: flex;
  align-items: center;
}

.product_category_details #rating_desc > img {
  width: 100px;
  margin: 0 5px;
}

.product_category_details #rating_desc > span,
.product_category_details #rating_desc > span > a {
  color: #009999;
}

#rate_remark_value {
  background: #be0b3b;
  color: #fff;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
}

#rate_remark {
  color: #009999;
  margin: 13px 0 13px 0;
  font-size: 13px;
  font-weight: 700;
}

#rate_sold {
  font-size: 13px;
  color: #131921;
  font-weight: 600;
}

hr {
  margin-top: 10px;
}

.product_details_two {
  margin-top: 10px;
}

.product_details_two #price_reduction {
  font-size: 1.6rem;
  color: #be0b3b;
  margin-right: 4px;
}

.product_details_two #product_new_price {
  font-size: 1.6rem;
}

.product_details_two > #product_new_currency {
  font-size: 14px;
}

.product_details_two #list_price {
  color: gray;
  margin-top: 15px;
  font-size: 12px;
}

#list_price > span {
  text-decoration: line-through;
}

.product_details_two #fast {
  font-weight: 600;
}

#get > a {
  color: #009999;
}

#get {
  margin: 6px 0;
  font-size: 14px;
}

.product_details_two > a {
  display: block;
  margin: 6px 0;
  font-size: 14px;
  color: #009999;
}

#available > a {
  color: #009999;
}

#color {
  margin-top: 15px;
}

#color > span {
  font-weight: 600;
}

.product_color {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product_color .image_color {
  display: flex;
  align-items: center;
  gap: 7px;
  border: 1px solid gray;
  padding: 10px 15px;
}

.image_color > img {
  width: 30px;
}

.full_product_display .product_order_details {
  border: 1px solid red;
  height: 100vh;
  flex-basis: 20%;
}
