main {
  background-color: #fff;
  padding-bottom: 100px;
}

.quick_link {
  padding: 10px 20px;
}

.quick_link a {
  color: gray;
  font-weight: 600;
}

.full_product_display {
  display: flex;
  padding: 10px 20px;
  gap: 10px;
}

.full_product_display .product_image {
  flex-basis: 30%;
  display: flex;
  gap: 10px;
}

.product_image .crop_images > img {
  width: 60px;
  border: 1px solid gray;
  margin-bottom: 10px;
  display: block;
  border-radius: 10px;
}

.product_image > img {
  width: 400px;
  height: 400px;
}

.full_product_display .product_category_details {
  flex-basis: 50%;
}

.product_category_details #product_desc {
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.product_category_details > a {
  color: #009999;
  margin-top: 5px;
  display: inline-block;
}

.product_category_details #rating_desc {
  display: flex;
  align-items: center;
}

.product_category_details #rating_desc > img {
  width: 100px;
  margin: 0 5px;
}

.product_category_details #rating_desc > span,
.product_category_details #rating_desc > span > a {
  color: #009999;
}

#rate_remark_value {
  background: #be0b3b;
  color: #fff;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
}

#rate_remark {
  color: #009999;
  margin: 13px 0 13px 0;
  font-size: 13px;
  font-weight: 700;
}

#rate_sold {
  font-size: 13px;
  color: #131921;
  font-weight: 600;
}

hr {
  margin-top: 10px;
}

.product_details_two {
  margin-top: 10px;
}

.product_details_two #price_reduction {
  font-size: 1.6rem;
  color: #be0b3b;
  margin-right: 4px;
}

#product_new_price {
  font-size: 1.6rem;
}

#product_new_currency {
  font-size: 14px;
}

.product_details_two #list_price {
  color: gray;
  margin-top: 15px;
  font-size: 12px;
}

#list_price > span {
  text-decoration: line-through;
}

#fast {
  font-weight: 600;
}

#get > a {
  color: #009999;
}

#get {
  margin: 6px 0;
  font-size: 14px;
}

.product_details_two > a {
  display: block;
  margin: 6px 0;
  font-size: 14px;
  color: #009999;
}

#available > a {
  color: #009999;
}

#color {
  margin-top: 15px;
}

#color > span {
  font-weight: 600;
}

.product_color {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.product_color .image_color {
  display: flex;
  align-items: center;
  gap: 7px;
  border: 1px solid gray;
  padding: 7px 12px;
  cursor: pointer;
}

.image_color > img {
  width: 30px;
}

.brand_details {
  width: 300px;
  margin-top: 15px;
}

.brand_details .brand_title {
  display: flex;
  justify-content: space-between;
}

.brand_details .brand_title > span {
  font-size: 14px;
  margin-bottom: 2px;
}

.brand_details .brand_title span:first-of-type {
  font-weight: 600;
}

.brand_title > .brand_title_value {
  width: 80px;
}

.full_product_display .product_order_details {
  border: 1px solid gray;
  flex-basis: 18%;
  padding: 20px 15px;
  border-radius: 10px;
}

.buy_new {
  display: flex;
  justify-content: space-between;
}

.buy_new > #radio_btn {
  border-radius: 50%;
  background: #009999;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy_new > #radio_btn > div {
  border-radius: 50%;
  background: #fff;
  width: 7px;
  height: 7px;
}

.cart_details {
  margin-top: 15px;
  font-size: 16px;
}

.cart_details > a {
  font-size: 14px;
  color: #009999;
}

.cart_details #get {
  margin-bottom: 0;
  margin-top: 13px;
}

.delivery_details {
  margin-top: 13px;
  font-size: 16px;
  line-height: 1.3rem;
}

.delivery_details p > a,
.delivery_details p > #time {
  color: #009999;
}

.delivery_location {
  margin-top: 13px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.delivery_location > img {
  width: 20px;
}
.delivery_location > span {
  color: #009999;
}

.stock_details {
  margin-top: 13px;
}

.stock_details > h3 {
  color: green;
  margin-bottom: 10px;
}

.stock_details > select {
  width: 100%;
  padding: 8px;
  background-color: #e5e5e5;
  border-radius: 6px;
  outline: 0;
  margin-bottom: 10px;
}

.stock_details > .cart_btn {
  display: block;
  width: 100%;
  background: #ffd64f;
  margin-bottom: 6px;
  text-align: center;
  color: #000;
  padding: 10px;
  border-radius: 26px;
  font-size: 13px;
}

.stock_details > .cart_buy_now {
  background-color: orange;
}

.cart_shipper_details {
  color: gray;
  font-size: 13px;
}

.cart_shipper_details p {
  margin-bottom: 8px;
}

.cart_shipper_details .brand_title {
  display: flex;
  justify-content: space-between;
}

.cart_shipper_details .brand_title > span {
  margin-bottom: 6px;
}

.cart_shipper_details .brand_title > .brand_title_value {
  width: 160px;
}

.about_item h3 {
  margin: 13px 0;
}

.about_item ul li {
  margin-bottom: 10px;
}

.about_item ul li > span {
  margin: 0 3px 0 10px;
  border-left: 3px solid #000;
  border-right: 3px solid #000;
  padding: 0 4px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#add_to_list {
  width: 100%;
  margin-top: 20px;
  padding: 7px 10px;
  border-radius: 6px;
  outline: 0;
  border: 2px solid gray;
}


#add_to_list::placeholder {
  color: #000;
}